rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    function isVideo() {
      return request.resource.contentType == 'video/mp4';
    }

    function under10MB() {
      return request.resource.size < 10 * 1024 * 1024;
    }

    function under100MB() {
      return request.resource.size < 100 * 1024 * 1024;
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId)
        && ((isImage() && under10MB()) || (isVideo() && under100MB()));
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
